# 1 Basics

## 1.1 The Interpreter

In [1]:
3+1 #summation

4

In [2]:
3*3 #multiplication

9

In [3]:
2**3 #Ã¼s alma

8

In [4]:
 "Hello, world!"

'Hello, world!'

## 1.2 Scripts
### Only the last line appears in the output. If we do it using print function they all appear.

In [6]:
3 + 1
3 * 3
2 ** 3
"Hello, world!"

'Hello, world!'

In [7]:
print(3 + 1)
print(3 * 3)
print(2 ** 3)
print("Hello, world!")

4
9
8
Hello, world!

## 1.3 More Interpreters

In [10]:
'py' + 'thon' #concatenation

'python'

In [11]:
'py' * 3 + 'thon' #3*(py)thon

'pypypython'

In [17]:
'py'-'py' #unsupported

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [18]:
'3'+3 #type mismatching

TypeError: can only concatenate str (not "int") to str

In [19]:
 3 * '3'

'333'

In [20]:
a   # a not defined

NameError: name 'a' is not defined

In [22]:
a=3

In [23]:
a #a is defined in above line

3

## 1.4 Booleans

In [1]:
1 == 1

True

In [2]:
1 == True

True

In [3]:
0 == True #0 is false

False

In [4]:
0 == False

True

In [5]:
3 == 1 * 3

True

In [8]:
(3 == 1) * 3 # false==0 then 0*3=0

0

In [9]:
(3 == 3) * 4 + 3 == 1  # true==1 then 1*4+3=7 7!=1 then False

False

In [10]:
3**5 >= 4**4

False

## 1.5: Integers

In [13]:
5 / 3 # float

1.6666666666666667

In [15]:
5 % 3 #remainder

2

In [16]:
5.0 / 3

1.6666666666666667

In [17]:
 5 / 3.0

1.6666666666666667

In [18]:
5.2 % 3

2.2

In [20]:
2001 ** 200 #exponential

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

## 1.6: Floats

In [23]:
2000.3 ** 200 # result too large because of float

OverflowError: (34, 'Result too large')

In [24]:
1.0 + 1.0 - 1.0

1.0

In [25]:
1.0 + 1.0e20 - 1.0e20

0.0

## 1.7: Variables

In [30]:
name= "Sunay Terzi"
"Hello, "+name+"!"

'Hello, Sunay Terzi!'

## 1.8: Type casting

In [31]:
float(123)

123.0

In [33]:
float('123') #convert to float

123.0

In [34]:
float('123.23')

123.23

In [35]:
int(123.23) #convert to int

123

In [36]:
int('123.23') #error because of quotes

ValueError: invalid literal for int() with base 10: '123.23'

In [37]:
int(float('123.23'))

123

In [38]:
str(12)

'12'

In [39]:
str(12.2)

'12.2'

In [40]:
bool('a')

True

In [41]:
bool(0)

False

In [42]:
bool(0.1)

True

# 2 Control Flow

## 2.1: Range

In [44]:
range(5) # it is a range between 0 and 5

range(0, 5)

In [47]:
for i in range(5): # it creates a loop between 0 and 5
    print(i)

0
1
2
3
4

In [48]:
type(range(5))

range

## 2.2: For loops

In [49]:
for i in range(100): 
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [50]:
for i in range(100):
    if(i%7==0):
        print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [52]:
for i in range(1,100):
    if(i%5==0 and i%3!=0):
        print(i)

5
10
20
25
35
40
50
55
65
70
80
85
95

In [53]:
for x in range(2,18):
    if 18%x==0:
        print(x)

2
3
6
9

## 2.3: Simple while loops

In [55]:
i=0
while i<100:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [57]:
i=0
while i<100:
    if(i%7==0):
        print(i)
    i+=1

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

## 2.5: While loops

In [59]:
number_found = 0
x = 11
while number_found < 20:
    if x%5==0 and x%7==0 and x%11==0:
        print(x)
        number_found+=1
    x+=1

385
770
1155
1540
1925
2310
2695
3080
3465
3850
4235
4620
5005
5390
5775
6160
6545
6930
7315
7700

## 2.6: More while loops

In [5]:
n = 1
for i in range(1, 11):
    for j in range(1, 11):
        if (n * j) % i == 0:
            n *= j
            break
print(n)

2520

In [11]:
import math

n = 1
i=1
while i<11:
    n = int((n * i)/math.gcd(n, i))
    i+=1
n

2520

## 2.7: Collatz sequence

In [18]:
i=103
print(i)
while i!=1:
    if i%2==0:
        print(int(i/2))
        i=i/2
    else:
        print(int(3*i+1))
        i=3*i+1

103
310
155
466
233
700
350
175
526
263
790
395
1186
593
1780
890
445
1336
668
334
167
502
251
754
377
1132
566
283
850
425
1276
638
319
958
479
1438
719
2158
1079
3238
1619
4858
2429
7288
3644
1822
911
2734
1367
4102
2051
6154
3077
9232
4616
2308
1154
577
1732
866
433
1300
650
325
976
488
244
122
61
184
92
46
23
70
35
106
53
160
80
40
20
10
5
16
8
4
2
1

# 3  Functions

## 3.1: Hello

In [20]:
def hello():
    print("Hello, World!")
hello()

Hello, World!

In [22]:
def hello_name(name):
    print("Hello, " + name)
hello_name("Sunay!")

Hello, Sunay!

Print is a function. Printing means displaying a value in the console. Use print when you want to show a value to a human.

Return is a keyword. When a return statement is reached, Python will stop the execution of the current function, sending a value out to where the function was called. Use return when you want to send a value from one point in your code to another.

Using return changes the flow of the program. Using print does not.

##  3.2: Polynomial

In [26]:
def poly(x):
    return 3*x**2-x + 2
poly(2)

12

## 3.3: Maximum

In [28]:
def my_max(x, y):
    if x>y:
        return x
    else:
        return y
my_max(15,10)

15

In [35]:
def my_max(x, y):
    if x>y:
        return x
    if y>x:
        return y
my_max(5,10)

10

## 3.4: Primes

In [7]:
def isPrime(x):
    if x > 1:
        for i in range(2, x):
            if x % i == 0:
                return False

        return True

    return False
isPrime(10)

False

In [11]:
def is_prime(n):
    if n == 2: return True
    if n == 3: return True
    if n % 2 == 0: return False
    if n % 3 == 0: return False
    i = 5
    w = 2
    sqr=int(n**.5)+1
    while i <= sqr:
        if n % i == 0:
            return False    
        i += w
        w = 6 - w    
    return True
is_prime(2)

True

In [7]:
def prime(n):
    for i in range(n):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, i//2+1):
                if i % j == 0:
                    break
            else:
                print(i)
    
prime(10)

2
3
5
7

In [9]:
def prime(n):
    for i in range(1,n+1):
        if(isPrime(i)):
            print(i,end=" ")

prime(10)

2 3 5 7

In [12]:
def firstn(count):
    primes = []

    n = 2
    while len(primes) != count:
        for i in range(2, n // 2 + 1):
            if n % i == 0:
                break
        else:
            primes.append(n)
        n += 1

    return primes
firstn(5)

[2, 3, 5, 7, 11]

## 3.5: Root finding

In [39]:
def f(x):
    return x + 2
  
def root(f,a,b):
 
    if (f(a) * f(b) >= 0):
       
        return "function eval have same sign"
        
  
    c = a
    while ((b-a) >= 0.01):
 
        c = (a+b)/2
  
        if (f(c) == 0.0):
            break
  
        if (f(c)*f(a) < 0):
            b = c
        else:
            a = c
             
    print("C value is : ","%.4f"%c)
     

root(f,-20, 30)

C value is :  -2.0007